*{
    margin: 0;
    padding: 0;
}


:root{
    --primary: #228B22; /* header , buttons , footer*/
    --secondary:#8B5A2B; /*nav-bar */
    --text: white; /* simple text */
    --background: #F5F5DC; /* main-background */
    --accent: #FFFF99;   /* bold text*/
    --body-text:#333333;
    --extra-contrast:#FFA500;
}

  
/*
font-weights : 400 , 500 , 700
*/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text);
    font-family: "Poppins", sans-serif;
}

ul{
    list-style-type: none;
}

section li{
    padding: 1em;
}

a{
    text-decoration: none;
}

#main-header{
    display: flex;
    background-color: var(--primary);
    justify-content: space-evenly;
}

#main-header a:hover{
    color: var(--accent);
    transition: all ease 0.5;
    align-self: center;
}

#main-footer{
    background-color: var(--primary);
    margin-top: auto;
}


.logo-container{
    display: flex;
    text-align: center;
    align-self: flex-start;
    padding-left:1em;
}

.logo-container *{
    align-self: center;
}

.logo-container img{
    max-height: 100px;
    max-width: 100px;
}

.logo-container h1{
    color: var(--background);
    text-align: center;
    align-self: center;
}

.logo-container span{
    font-size: 1em;
}

.nav-search-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.nav-bar-container {
    display: flex;
}

.nav-bar-container a {
    color: var(--background);
    padding: 0.5em;
    font-weight: 700;
    font-size: 2em;
}


.sub-list{
    position: absolute;
    display: none;
    background-color: var(--primary);
}


.sub-list-container:hover .sub-list{
    display:block;
    z-index: 1;
}

.search-bar-container{
    display: flex;
    align-self: center;
    padding-top: 10px;
}

.search-bar-container img{
    max-height: 40px;
    max-width: 40px;
}

.search-bar-container input{
    width: 20em;
    color: var(--primary);
    font-weight: 700;
    font-family: "Poppins";
    border-radius: 10px;
    border: 1px solid var(--primary);
    text-align: center;
}

.search-bar-container input::placeholder{
    color: var(--primary);
    font-weight:500;
    font-size: large;
    font-family: "Poppins";
}

.cart-login-container{
    display: flex;
    text-align: center;
}


.cart img{
    max-height: 3em;
    max-width: 3em;
}

.account{
    padding: 1em;
}

.account>*{
    padding-left: 1em;
}
.account a{
    color: var(--background);
    font-weight: 500;
    font-size: 1.2em;
}

.main-content{
    display: flex;
    flex-direction: column;
}
.primary-message{
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    margin-top: 1em; 
    margin-bottom: 1em;
}

.primary-message img{
    max-width: 500px;
    max-height: 250px;
    align-self: center;
    margin-top: 1em; 
    margin-bottom: 1em;
    border-radius: 10px;
}

.primary-message p{
    color:var(--primary);
    font-weight: 500;
    font-size: x-large;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
    animation: fadeIn 5s;
}

.primary-message span{
    color: #FFA500;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.our-goals{
    display: flex;
    flex-flow: column wrap;
    align-self: center;
}

.our-goals h2{
    font-size: x-large;
    color: var(--primary);
    text-align: center;
    padding:2em 0;
    font-size: x-large;
}

.goals-box{
    display: flex;
    text-align: center;
    font-size: large;
    color: var(--body-text);
    max-width: 50vw;
    flex-flow: column wrap;
    padding: 2em;
}

.our-goals *{
    align-self: center;
}

.goals-box strong{
    color: var(--extra-contrast);
}

.goals-box ul strong{
    color: var(--primary);
}

.small-icon{
    width: 50px;
    height: 50px;
}


.bullets{
    list-style:inside;
    color: var(--primary);
    text-align: start;
    display: flex;
    flex-flow: row wrap;
}

#main-footer{
    display: flex;
    flex-direction: column;
}

#main-footer>*{
    align-self: center;
}

.social-container{
    display: flex;
}

.icon-header{
    display: flex;
    flex-flow: row wrap;
    align-self: center;
}

.icon-header>*{
    align-self: center;
}

#main-footer input{
    border-radius: 10px;
    border: none;
    padding: 0.4em;
    width: 20em;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
    text-align: center;
    color: var(--primary);
    margin-bottom: 1em;

}

#main-footer input::placeholder{
    color: var(--primary);
    font-weight: 500;
}